.customer {
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    margin: 20px;
    margin-left: 0px;
}

.customer label {
    padding: 20px;
}
.Options-per{
    display: flex;
    flex-direction:column ;
    margin-top: 20px;
    margin-left: 20px;
}
.simulador{
    display: flex;
    flex-direction: row;
    
    
}
.opciones{
    display: flex;
    flex-direction: column;
    margin-right: 10px ;
    background: white;
    border-radius: 5%;
    height: 500px;
    width: 60vh;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);

}
.perso{

    font-size: 2rem;
    padding: 0%;
    margin-top: 10px;
}
.modelo{

    background: white;
    
    border-radius: 5%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    

    
}